BasedOnStyle:  Google
BreakBeforeBraces: Mozilla

AllowShortLoopsOnASingleLine: false
AccessModifierOffset: -2
BreakConstructorInitializersBeforeComma: true
ColumnLimit: 100
IndentWidth: 2
PointerAlignment: Left
TabWidth: 0

ReflowComments: false  # protect ASCII art in comments
KeepEmptyLinesAtTheStartOfBlocks: true